@using PagedList.Mvc;
@model PagedList.IPagedList<WorkFlowX.Models.Company>

<!DOCTYPE html>
<html>
<head>
    <title>Companies</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/PagedList.css" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container-fluid">
            @Html.ActionLink("WORKFLOWX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Users", "Index", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Roles", "Index", "Role", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Companies", "Index", "Company", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Log out", "Logout", "Start", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <h2>Companies</h2>
        <a class="btn btn-success" href="@Url.Action("Create", "Company")"><i class='fas fa-plus'></i></a>
        <br />
        @using (Html.BeginForm("Index", "Company", FormMethod.Get))
        {
            <div class="row no-gutters">
                <div class="col-1">
                    <select name="pageSize" id="pageSize" class="form-control">
                        <option @(ViewBag.PageSize == 5 ? "selected" : "") value="5">5</option>
                        <option @(ViewBag.PageSize == 10 ? "selected" : "") value="10">10</option>
                        <option @(ViewBag.PageSize == 15 ? "selected" : "") value="15">15</option>
                    </select>
                </div>
                <div class="col-1">
                    <input type="hidden" name="page" value="@Model.PageNumber" />
                    <input type="submit" value="Apply" class="btn btn-primary" />
                </div>
            </div>
        }

        <div class="mb-0">
            <table class="table table-responsive table-hover mb-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>NIF</th>
                        <th>Address</th>
                        <th>Phone</th>
                        <th>Mail</th>
                        <th>Web</th>
                        <th>Country</th>
                        <th>City</th>
                        <th>Register Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var company in Model)
                    {
                        <tr>
                            <td>@company.CompanyName</td>
                            <td>@company.CompanyNif</td>
                            <td>@company.CompanyAddress</td>
                            <td>@company.CompanyPhone</td>
                            <td>@company.CompanyMail</td>
                            <td>@company.CompanyWeb</td>
                            <td>@company.CompanyCountry</td>
                            <td>@company.CompanyCity</td>
                            <td>@company.RegisterDate</td>
                            <td class="d-flex">
                                <a class="btn btn-primary mr-1" href="@Url.Action("Details", "Company", new { id = company.Id })"><i class='fas fa-eye'></i></a>
                                <a class="btn btn-warning mr-1" href="@Url.Action("Edit", "Company", new { id = company.Id })"><i class='fas fa-pen'></i></a>
                                <a class="btn btn-danger mr-1" href="@Url.Action("Delete", "Company", new { id = company.Id })"><i class='fas fa-trash'></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="row mb-0">
                @Html.PagedListPager(Model, page => Url.Action("Index", "Company", new { page, pageSize = ViewBag.PageSize }))
            </div>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            <br />
            Total Companies: @Model.TotalItemCount

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
