@using PagedList.Mvc;
@model PagedList.IPagedList<WorkFlowX.Models.User>

<!DOCTYPE html>
<html>
<head>
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> <!-- Enlace de Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/Content/PagedList.css" />
</head>
<body>
    <div class="container-fluid">
        <h2>Users</h2>
        <a class="btn btn-success" href="@Url.Action("Register", "Start")"><i class='fas fa-user-plus'></i></a> <!-- Enlace para crear un nuevo usuario -->
        <br />
        @using (Html.BeginForm("Index", "User", FormMethod.Get)){
            <div class="row no-gutters">
                <div class="col-1">
                    <select name="pageSize" id="pageSize" class="form-control">
                        <option @if ((int)ViewBag.PageSize == 5) { @Html.Raw("selected") } value="5">5</option>
                        <option @if ((int)ViewBag.PageSize == 10) { @Html.Raw("selected") } value="10">10</option>
                        <option @if ((int)ViewBag.PageSize == 15) { @Html.Raw("selected") } value="15">15</option>
                    </select>
                </div>
                <div class="col-1">
                    <input type="hidden" name="page" value="@Model.PageNumber" />
                    <input type="submit" value="Apply" class="btn btn-primary" />
                </div>
            </div>
            }
        <div class="mb-0">
            <table class="table table-responsive table-hover mb-0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Surname</th>
                        <th>Mail</th>
                        <th>Phone</th>
                        <th>NeedRestore</th>
                        <th>HasConfirm</th>
                        <th>Company</th>
                        <th>Role</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.UserName</td>
                            <td>@user.UserSurname</td>
                            <td>@user.UserMail</td>
                            <td>@user.UserPhone</td>
                            <td class="text-center">
                                @if (user.NeedRestore)
                                {
                                    <i class="fa-solid fa-check" style="color: #00ff1e;"></i> <!-- Muestra un tick si NeedConfirmation es true -->
                                }
                                else
                                {
                                    <i class="fa-solid fa-xmark" style="color: #ff0000;"></i> <!-- Muestra una x si NeedConfirmation es false -->
                                }
                                                    </td>
                            <td class="text-center">
                                @if (user.HasConfirmation)
                                {
                                    <i class="fa-solid fa-check" style="color: #00ff1e;"></i> <!-- Muestra un tick si NeedConfirmation es true -->
                                }
                                else
                                {
                                    <i class="fa-solid fa-xmark" style="color: #ff0000;"></i> <!-- Muestra una x si NeedConfirmation es false -->
                                }
                            </td>
                            <td>@user.Company.CompanyName</td>
                            <td>@user.Role.RoleName</td>
                            <td class="d-flex">
                                <a class="btn btn-primary mr-1" href="@Url.Action("Details", "User", new { id = user.Id })"><i class='fas fa-eye'></i></a>
                                <a class="btn btn-warning mr-1" href="@Url.Action("Edit", "User", new { id = user.Id })"><i class='fas fa-pen'></i></a>
                                <a class="btn btn-danger mr-1" href="@Url.Action("Delete", "User", new { id = user.Id })"><i class='fas fa-trash'></i></a>
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
            <div class="row mb-0">
                @Html.PagedListPager(Model, page => Url.Action("Index", "User", new { page, pageSize = ViewBag.PageSize }))
            </div>
            <br />
            Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            <br />
            Total Users: @Model.TotalItemCount

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script> <!-- Enlace de jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script> <!-- Enlace de Popper.js -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script> <!-- Enlace de Bootstrap JS -->
</body>
</html>
