@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .sidebar {
            height: 100vh;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("WORKFLOWX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Users", "Index", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Roles", "Index", "Role", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Companies", "Index", "Company", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Log out", "Logout", "Start", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <div class="nav-link active" aria-current="page">
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" aria-current="page">
                            @Html.ActionLink("My Team", "MyTeam", "Team", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" aria-current="page">
                            @Html.ActionLink("My Projects", "Index", "Proyect", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" aria-current="page">
                            @Html.ActionLink("My Tasks", "Index", "Task", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-9">
                <h1>WorkFlowX</h1>
                <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=es&size=large&timezone=Europe%2FMadrid" width="100%" height="140" frameborder="0" seamless></iframe>
                <div id="ww_147e2061e8b94" v='1.3' loc='auto' a='{"t":"responsive","lang":"es","sl_lpl":1,"ids":[],"font":"Arial","sl_ics":"one_a","sl_sot":"celsius","cl_bkg":"#FFFFFF","cl_font":"#000000","cl_cloud":"#d4d4d4","cl_persp":"#2196F3","cl_sun":"#FFC107","cl_moon":"#FFC107","cl_thund":"#FF5722","cl_odd":"#0000000a"}'><a href="https://weatherwidget.org/es/" id="ww_147e2061e8b94_u" target="_blank">Clima widget</a></div>
                <script async src="https://app1.weatherwidget.org/js/?id=ww_147e2061e8b94"></script>
                <br />
                <br />
                <h3>Last Tasks</h3>
                <table class="table table-responsive table-hover mb-0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Expected End Date</th>
                            <th>Status</th>
                            <th>Priority</th>
                            <th>Comment</th>
                            <th>Manager</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var task in ViewBag.Tasks)
                        {
                            <tr>
                                <td>@task.Name</td>
                                <td>@task.Description</td>
                                <td>@task.StartDate</td>
                                <td>@task.EndDate</td>
                                <td>@task.ExpectedEndDate</td>
                                <td>@task.Status</td>
                                <td>@task.Priority</td>
                                <td>@task.Comment</td>
                                <td>@task.User.UserName</td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
    <br />      
        </div>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>