@using PagedList.Mvc;
@model PagedList.IPagedList<WorkFlowX.Models.Task>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Project tasks</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .sidebar {
            height: 100vh;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="~/Content/PagedList.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
            <div class="container-fluid">
                @Html.ActionLink("WORKFLOWX", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Alternar navegación" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">@Html.ActionLink("Users", "Index", "User", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Roles", "Index", "Role", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Companies", "Index", "Company", new { area = "" }, new { @class = "nav-link" })</li>
                        <li class="nav-item">@Html.ActionLink("Log out", "Logout", "Start", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                        <div class="nav-link" aria-current="page">
                            @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" aria-current="page">
                            @Html.ActionLink("My Team", "MyTeam", "Team", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link active" aria-current="page">
                            @Html.ActionLink("My Projects", "Index", "Proyect", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link" aria-current="page">
                            @Html.ActionLink("My Tasks", "Index", "Task", new { area = "" }, new { @class = "navbar-brand" })
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-10">
                <h2>Project tasks</h2>
                <a class="btn btn-success" href="@Url.Action("Create", "Task", new { projectId = Model.First().ProjectId })"><i class='fas fa-plus'></i></a> <!-- Enlace para crear un nuevo proyecto -->
                <br />
                @using (Html.BeginForm("ProjectTasksList", "Proyect", FormMethod.Get))
                {
                    <div class="row no-gutters">
                        <div class="col-1">
                            <select name="pageSize" id="pageSize" class="form-control">
                                <option @if ((int)ViewBag.PageSize == 5) { @Html.Raw("selected") } value="5">5</option>
                                <option @if ((int)ViewBag.PageSize == 10) { @Html.Raw("selected") } value="10">10</option>
                                <option @if ((int)ViewBag.PageSize == 15) { @Html.Raw("selected") } value="15">15</option>
                            </select>
                        </div>
                        <div class="col-1">
                            <input type="hidden" name="page" value="@Model.PageNumber" />
                            <input type="hidden" name="projectId" value="@Model.First().Project.Id" />
                            <input type="submit" value="Apply" class="btn btn-primary" />
                        </div>
                    </div>
                }
                <div class="mb-0">
                    <table class="table table-responsive table-hover mb-0 p-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Expected End Date</th>
                                <th>Status</th>
                                <th>Comment</th>
                                <th>Project</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var project in Model)
                            {
                                <tr>
                                    <td>@project.Name</td>
                                    <td>@project.Description</td>
                                    <td>@project.StartDate</td>
                                    <td>@project.EndDate</td>
                                    <td>@project.ExpectedEndDate</td>
                                    <td>@project.Status.ToString()</td>
                                    <td>@project.Comment</td>
                                    <td>@project.Project.Name</td>
                                    <td class="d-flex">
                                        <a class="btn btn-primary mr-1" href="@Url.Action("Details", "Task", new { id = project.Id })"><i class='fas fa-eye'></i></a>
                                        <a class="btn btn-warning mr-1" href="@Url.Action("Edit", "Task", new { id = project.Id })"><i class='fas fa-pencil-alt'></i></a>
                                        <a class="btn btn-danger mr-1" href="@Url.Action("Delete", "Task", new { id = project.Id })"><i class='fas fa-trash'></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row mb-0">
                        @Html.PagedListPager(Model, page => Url.Action("ProjectTasksList", "Proyect", new {projectId = Model.First().ProjectId, page, pageSize = ViewBag.PageSize }))
                    </div>
                    <br />
                    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                    <br />
                    Total Projects: @Model.TotalItemCount

                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
